/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:#24d4e0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #ef1818;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
}

#reset {
    padding: 10px 20px;
    font-size: 1em;
}
